<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="Bootstrap.php"
         colors="true"
         verbose="true"
         backupGlobals="false"
         backupStaticAttributes="false"
         stopOnFailure="true">
    <php>
    	<env name="LIB_PATH" value="../vendor/zendframework/zendframework/library"/>
    </php>
    <testsuites>
        <testsuite name="Neilime\ZF2DeployModuleTest">
            <directory suffix=".php">./ZF2DeployModuleTest/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../bin/</directory>
        </whitelist>
    </filter>
</phpunit>